@import '../../styles/main.scss';

.pagination-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total-info{
    color: $primary-color;
    display: inline-block;
    width: 80px;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    margin: 0px 10px;
    height: 30px;
    flex-shrink: 0;
    background-color: opacity($color: $primary-color, $opacity: 0.2);
}