// _variables.scss

// Colors
$primary-color: #213F7D;
$secondary-color: #39CDCC;
$background-color: #FBFBFB;
$border-color: #E5E5E5;
$white-color: #fff;
$black-color: #000;
$danger: #E4033B;
$text-color-primary: #545F7D;

// Fonts
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;


// Font Sizes
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 12px;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border Radius
$border-radius: 4px;

// Shadows
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
