 @import './variable';
 @import './responsive';
 @import './mixin';
// font-sizes
.app-heading--3{
    @include app-heading(14px, 30px);
}
.app-heading--4{
    @include app-heading(10px, 30px);
}
.app-heading--5{
    @include app-heading(10px, 25px);
}

.app-heading--6{
    @include app-heading(10px, 20px);
}
.app-paragraph{
    @include app-text(12px, 14px);
}
.app-text-small{
    @include app-text(10px, 12px);
}

.bg-primary{
    background-color: $primary-color;
}
.bg-secondary{
    background-color: $secondary-color;
}

.border-primary{
    border-color: $primary-color !important;
}
.text-primary{
    color: $primary-color !important;
}

.border-secondary{
    border-color: $secondary-color !important;
}
.text-secondary{
    color: $secondary-color !important;
}

.text-transform-upper{
    text-transform: uppercase;
    font-family: $font-family-primary;
}
.text-left{
    text-align: left;
}
.flex-align-center{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-lg{
    margin-bottom: scaleFont(10px, 25px);
}

.mb-md{
    margin-bottom: scaleFont(10px, 15px);
}
.mb-sm{
    margin-bottom: scaleFont(5px, 10px);
}

.card-style{
    background-color: $white-color;
    box-shadow: $box-shadow;
    border-radius: 4px;
    padding: scaleFont(10px, 30px);
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
}