@import './responsive';
@import './variable';  

// Example usage in styles
body {
  font-size: rem(16px);
}

.header {
  width: vw(100); // full width of the viewport
  height: vh(10); // 10% of the viewport height
  background-color: $primary-color;
  padding: rem(16px);

  @include respond-to(md) {
    font-size: rem(20px);
  }

  @include respond-to(xs) {
    font-size: rem(14px);
  }
}
