@import '../../styles/main.scss';  


.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    padding: rem(16px);
    width:  20%;
    background: $white-color;
    box-shadow: $box-shadow;
    flex: 1;
    // height: calc(100vh - 200px);
    // margin-top: 200px;
   
}
.sidebar-content{
   margin-top: verticalScale(120px);
   width: 100%;
   height: calc(100vh -  verticalScale(80px));
}


