@import '../../styles/responsive' ;  
@import '../../styles/variable' ;

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    padding: rem(16px);
    width:  20%;
    background: $white-color;
    box-shadow: $box-shadow;
    // height: calc(100vh - 200px);
    // margin-top: 200px;
   
}
.sidebar-content{
   margin-top: 100px;
   width: 100%;
   height: calc(100vh - 100px);
}


