@import './styles/main.scss';
@import './styles/responsive';
@import './styles/variable';
@import './styles/common.scss';
@import './styles/function.scss';
@import './styles/mixin';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary;
    margin: 0;
    padding: 0;
}

.ant-btn-primary {
    background-color:  $primary-color;
}
.ant-btn:hover, .ant-btn:focus {
    color: $secondary-color !important;
    border-color: $secondary-color !important;
}
.ant-input-outlined:hover {
    border-color: $secondary-color !important;
}