 
@import '../styles/main.scss';

.app-wrapper {
    display: flex;
    // flex-direction: column;
    width: 100%;
    height: 100vh;
   
    // padding: 50px;

    h1 {
        color: $primary-color;
        font-size: rem(24px);

    }

}
.main-content{
    width: 80%;
    height: 80%;
    background-color: $background-color;
    max-height: calc( 100vh - scale(80px));
    padding: scaleFont(90px, 150px) scaleFont(20px, 70px);
    flex: 4;
    
}
// Example usage of the responsive-size mixin
 